@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, this is a simple WebApp.</h1>
    <p>Terms and condtions may apply, but they probably don't</p>
    <br/>
    <p>I am a paragraph added to test a change/deploy scenario</p>
</div>
